{% include "authentication/header.html" %}

<!-- main elements -->

    <section id="_1">
        <!-- <h1>Scroll Down</h1> -->
        <div id="aboutUs">
            <div class="pointer"></div>
            <div class="about_inside " style="margin-right: 500px;">
                <h1>Facilities</h1>
                <h3>Welcome to Evaque!!!</h3>
                <p>Here you will get different levels of quizzes on Python programming language. You can choose a difficulty level to test your grip on Python. </p>
                <p>If you are a newbie in python language you can test your progress with Beginner level quiz, otherwise, you can go with intermediate and professional levels but it is recommended to go stepwise.</p>
                <p> After performing any quiz, you will get an evaluation of your performance.</p>
            </div>
            <div class="about_inside" style="margin-left: 500px;">
                <h1>Our Goal</h1>
                <p>Here we will try to refresh our questions after a specific interval of time and if possible(Depending upon the response) we will try to take this to next level by arranging contests and new challenges.</p>
            </div>
            <div class="about_inside" style="margin-right: 500px;">
                <h1>Social media</h1>
                <p>Connect with us: </p>
                <h2>
                    <a href="#facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="#google"><i class="bi bi-google"></i></a>
                    <a href="#github"><i class="bi bi-github"></i></a>
                </h2>
            </div>
        </div>
    </section>
    
    <!-- footer elements -->
    {% include "authentication/footer.html" %}