{% include "authentication/header.html" %}

    <!-- main elements -->
    <br><br><br><br><br><br><br><br>
    <div id="instructions">
        <h2> Welcome to Python (Proffessional) level Exam !!</h2>
        <h2> Test your skil with EvaQue Quiz Evaluater</h2>
        <h3>Instructions:- </h3>
        <p>1) &nbsp; There is 10 questions in this level.</p>
        <p>2) &nbsp; There are 4 options for each question.</p>
        <p>3) &nbsp; Total alloted time is 15 minutes.</p>
        <p>4) &nbsp; You can attempt each questions once.</p>
        <p>5) &nbsp; You cannot change the tab while the quiz is going on.</p>
        <p>6) &nbsp; If you do so☝️ the quiz will be ended.</p>
        <br>
        <h2>Best of luck!👍</h2>
        <button type="submit" align="center">Start Exam <i class="bi bi-arrow-right-circle-fill"></i></button>
    </div>
    
    {% include "authentication/footer.html" %}