    <!-- footer elements -->
    <footer>
        <a href="{% url 'home' %}"><img src="/static/media/logo.jpg" id="logo_footer" height="100px"></a>
        <p>Copyright &copy 2022 EvaQue India</p>
        <h1>
            <a href="#facebook" style="color: #3b5998;"><i class="bi bi-facebook" ></i></a>
            <a href="#twitter" style="color: #00acee;"><i class="bi bi-twitter"></i></a>
            <a href="#linkedin" style="color: #0072b1;"><i class="bi bi-linkedin"></i></a>
            <a href="#github" style="color: black;"><i class="bi bi-github"></i></a>
        </h1>
        <p>All rights are reserved</p>
        <p>Developed & Maintained by-</p>
        <a href="https://github.com/souryasaha1234" target="_blank">@Sourya Saha</a>
        <a href="https://github.com/SouvikRay96" target="_blank">@Souvik Ray</a>
        <a href="https://github.com/Rajdeep-1508" target="_blank">@Rajdeep Maulik</a>
        <a href="#">@Sumona Dutta</a>
        <br>
    </footer>
    <script src="/static/script1.js"></script>
</body>
</html>