{% include "authentication/header.html" %}

<!-- main elements -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <section id="_1">
        <!--
         <h1>Scroll Down</h1> -->
    {% if user.is_authenticated %}
        {% comment %} <h3>Hello {{fname}}</h3>
        <h4>You'r successfully Logged In.</h4>
        <br> {% endcomment %}
        <script>
            swal({
                title: "Welcome {{fname}}",
                text: "You'r successfully Logged in to your account",
                icon: "success",
                button: "OK",
              });
        </script>
    {% else %}
        {% if messages %}
            {% comment %} <script>
                swal({
                    title: "Good Bye",
                    text: {{msg}},
                    icon: "success",
                    button: "OK",
                })
            </script> {% endcomment %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <script>
                swal("Please Login to Give The Exam");
            </script>
        {% endif %}
    {% endif %}
    
    {% if user.is_authenticated %}
        <a href="{% url 'begform' %}">
            <div class="levels">
                <h1>Beginner</h1>
            </div>
        </a>
        <a href="{% url 'begform' %}">
            <div class="levels">
                <h1>Intermediate</h1>
            </div>
        </a>
        <a href="{% url 'begform' %}">
            <div class="levels">
                <h1>Professional</h1>
            </div>
        </a>
            <br>
            <br>
            <br>
    {% else %}
        <a href="{% url 'login' %}">
            <div class="levels">
                <h1>Beginner</h1>
            </div>
        </a>
        <a href="{% url 'login' %}">
            <div class="levels">
                <h1>Intermediate</h1>
            </div>
        </a>
        <a href="{% url 'login' %}">
            <div class="levels">
                <h1>Professional</h1>
            </div>
        </a>
            <br>
            <br>
            <br>    
    {% endif %}

    </section>
    
{% include "authentication/footer.html" %}