{% include "authentication/header.html" %}

<!-- main elements -->

    <section id="_1">
        <!-- <h1>Scroll Down</h1> -->
    <a href="./form.html">
        <div class="levels">
            <h1>Beginner</h1>
        </div>
    </a>
    <a href="#">
        <div class="levels">
            <h1>Intermediate</h1>
        </div>
    </a>
    <a href="#">
        <div class="levels">
            <h1>Professional</h1>
        </div>
    </a>
        <br>
        <br>
        <br>
    </section>
    
{% include "authentication/footer.html" %}