{% include "authentication/header.html" %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- main Element -->
    <form action="/login" method="post">
        {% csrf_token %}
        <div class="container">
            <h1 id="Loginh1" align="center">Log in</h1>
            <hr id="hrline">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter username" name="username" required>
    
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass1" required>
            <p><a href="#">Forgot Password?</a></p>

            <div class="clearfix">
                <a href="{% url 'home' %}"><button type="button" class="cancelbtn">Cancel</button></a>
                <button type="submit" class="Loginbtn">Log in</button>
            </div>
            <p>Do you have a account?<a href="{% url 'signup' %}">Signup</a></p>
        </div>

    </form>
    <br>
    <br>
    <br>

    <!-- footer elements -->
    {% include "authentication/footer.html" %}