<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EvaQue | Home</title>
        <link rel="icon" type="image/png" href="../media/favicon.png">	
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav >
            <h1 id="logo">
                <a href="#"><img src="../media/logo.jpg" id="logo_navigation" height="70px"></a>
            </h1>
            
            <ul id="navigations">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./login.html">login</a></li>
            </ul>
    </nav>
    
    <!-- main elements -->

    <section id="_1">
        <!-- <h1>Scroll Down</h1> -->
    <a href="./form.html">
        <div class="levels">
            <h1>Beginner</h1>
        </div>
    </a>
        <div class="levels">
            <h1>Intermediate</h1>
        </div>
        <div class="levels">
            <h1>Professional</h1>
        </div>
        <br>
        <br>
        <br>
    </section>
    
    <!-- footer elements -->
    <footer>
        <a href="./index.html"><img src="../media/logo.jpg" id="logo_footer" height="100px"></a>
        <p>Copyright &copy 2022 EvaQue India</p>
        <h1>
            <a href="#facebook"><i class="bi bi-facebook" ></i></a>
            <a href="#instagram"><i class="bi bi-instagram"></i></a>
            <a href="#twitter"><i class="bi bi-twitter"></i></a>
            <a href="#linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="#google"><i class="bi bi-google"></i></a>
            <a href="#github"><i class="bi bi-github"></i></a>
        </h1>
        <p>All rights are reserved</p>
        <p>Developed & Maintained by-</p>
        <a href="https://github.com/souryasaha1234" target="_blank">@Sourya Saha</a>
        <a href="https://github.com/SouvikRay96" target="_blank">@Souvik Ray</a>
        <a href="https://github.com/Rajdeep-1508" target="_blank">@Rajdeep Maulik</a>
        <a href="#">@Sumona Dutta</a>
        <br>
    </footer>
    <script src="../static/script1.js"></script>
</body>
</html>